/ {
	chosen {
		zephyr,display = &ssd1306;
	};


	leds {
		compatible = "gpio-leds";
		led0: led {
			gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
			label = "White LED";
		};

		vext: vext {
			gpios = <&gpio0 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "External VCC";
		};
	};


	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "PRG Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

};


&pinctrl {

	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO4>,
				 <I2C0_SCL_GPIO15>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
	
	spim3_default: spim3_default {
		group1 {
			pinmux = <SPIM3_MISO_GPIO19>,
				 <SPIM3_SCLK_GPIO5>;
		};
		group2 {
			pinmux = <SPIM3_MOSI_GPIO27>;
			output-low;
		};
	};
};


&i2c0 {
	
	status = "okay";
	
      ssd1306: ssd1306@3c {
      	       compatible = "solomon,ssd1306fb";
	       reg = <0x3c>;
	       height = <64>;
	       width = <128>;
	       segment-offset = <0>;
	       page-offset = <0>;
	       display-offset = <0>;
	       multiplex-ratio = <63>;
	       prechargep = <0x22>;
	       com-invdir;
	       segment-remap;
	       reset-gpios = <&gpio0 16 ( GPIO_ACTIVE_LOW  )>;
      };
};

&spi3 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim3_default>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
	
	sx1276: sx1276_fsk@0 {
                compatible = "semtech,sx1276_fsk";
                reg = <0>;
                spi-max-frequency = <1000000>;
                label = "sx1278";
				reset-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
				dio-gpios =
					/* SX1276 D0 -> GPIO26 */
					<&gpio0 26 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
					/* SX1276 D1 -> GPIO35 */
					<&gpio1 3 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
					/* SX1276 D2 -> GPIO34 */
					<&gpio1 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        };
};
